grant {
  // HanLP data directories
  permission java.io.FilePermission "<<ALL FILES>>", "read,write,delete";

  // needed because of problems in unbound LDAP library
  permission java.util.PropertyPermission "*", "read,write";

  // classloader
  permission java.lang.RuntimePermission "*";

  // need reflect permission, for example using gson to serialize/unserialize json
  permission java.lang.reflect.ReflectPermission "*";

  // socket
  permission java.net.SocketPermission "*", "connect,resolve";

};